<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="TimeOutSession" value="300" />
    <add key="CultureNameDefault" value="es-PE" />
    <add key="TimeZoneId" value="SA Pacific Standard Time" />
    <add key="TimeZoneGMT" value="-5" />

    <!--Color Borde Formulario-->
    <add key="ColorBodeControles" value="Color.RoyalBlue"/>
    <add key="ColorBodeFormularios" value="Pens.Gray"/>
    
    
    <!--Ruta Servicios-->
    <add key="WS_Account_Login" value="http://localhost:44390/api/Account/Login" />
    
    <!--WS USUARIO-->
    <add key="WS_Usuario_Add" value="http://localhost:44390/api/SEG_USUARIO/Add" />
    <add key="WS_Usuario_Delete" value="http://localhost:44390/api/SEG_USUARIO/Delete" />
    <add key="WS_Usuario_GetAllPaging" value="http://localhost:44390/api/SEG_USUARIO/GetAllPaging" />
    <add key="WS_Usuario_GetById" value="http://localhost:44390/api/SEG_USUARIO/GetById" />
    <add key="WS_Usuario_Update" value="http://localhost:44390/api/SEG_USUARIO/Update" />
    <add key="WS_Usuario_GetAllFilters" value="http://localhost:44390/api/SEG_USUARIO/GetAllFilters" />

    <!--WS TIPO_ESTADO-->
    <add key="WS_Estado_GetAllFilters" value="http://localhost:44390/api/TIPO_ESTADO/GetAllFilters" />

    <!--WS Ruta Rol-->
    <add key="WS_Rol_GetAllActives" value="http://localhost:44390/api/SEG_ROL/GetAllActives" />
    
  <!--WS Ocupacion-->
    <add key="WS_Ocupacion_Add" value="http://localhost:44390/api/ADM_OCUPACION/Add" />
    <add key="WS_Ocupacion_Delete" value="http://localhost:44390/api/ADM_OCUPACION/Delete" />
    <add key="WS_Ocupacion_GetById" value="http://localhost:44390/api/ADM_OCUPACION/GetById" />
    <add key="WS_Ocupacion_Update" value="http://localhost:44390/api/ADM_OCUPACION/Update" />
    <add key="WS_Ocupacion_GetAllFilters" value="http://localhost:44390/api/ADM_OCUPACION/GetAllFilters" />
    <add key="WS_Ocupacion_GetAllActives" value="http://localhost:44390/api/ADM_OCUPACION/GetAllActives" />
    
    <!--WS Tarifario Segus-->
    <add key="WS_CVN_TARIFARIO_SEGUS_Add" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/Add" />
    <add key="WS_CVN_TARIFARIO_SEGUS_Delete" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/Delete" />
    <add key="WS_CVN_TARIFARIO_SEGUS_Update" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/Update" />
    <add key="WS_CVN_TARIFARIO_SEGUS_GetAllFilters" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/GetAllFilters" />
    <add key="WS_CVN_TARIFARIO_SEGUS_GetAllActives" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/GetAllActives" />
    <add key="WS_CVN_TARIFARIO_SEGUS_GetById" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/GetById" />
    <add key="WS_CVN_TARIFARIO_SEGUS_GetPrice" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS/GetPrice" />

    <!--clasificacion Segus-->
    <add key="WS_CVN_CLASIFICACION_SEGUS_GetAllActives" value="http://localhost:44390/api/CVN_CLASIFICACION_SEGUS/GetAllActives" />
  
    <!--Susalud-->
    <add key="WS_CVN_CLASIFICACION_SUSALUD_GetAllActives" value="http://localhost:44390/api/CVN_CLASIFICACION_SUSALUD/GetAllActives" />

    <!--Susalud_od-->
    <add key="WS_CVN_CLASIFICACION_SUSALUD_OD_GetAllActives" value="http://localhost:44390/api/CVN_CLASIFICACION_SUSALUD_OD/GetAllActives" />

    <!--Tipo Precio-->
    <add key="WS_CVN_TIPO_PRECIO_GetAllActives" value="http://localhost:44390/api/CVN_TIPO_PRECIO/GetAllActives" />

    <!--Centro Costo-->
    <add key="WS_CON_CENTRO_COSTO_GetAllActives" value="http://localhost:44390/api/CON_CENTRO_COSTO/GetAllActives" />
    
    <!--Cuenta Contable-->
    <add key="WS_CON_CUENTA_CONTABLE_GetAllActives" value="http://localhost:44390/api/CON_CUENTA_CONTABLE/GetAllActives" />

    <!--Detalle Participantes-->
    <add key="WS_CVN_TARIFARIO_SEGUS_PARTICIPANTE_Add" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS_PARTICIPANTE/Add" />
    <add key="WS_CVN_TARIFARIO_SEGUS_PARTICIPANTE_Delete" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS_PARTICIPANTE/Delete" />
     <add key="WS_CVN_TARIFARIO_SEGUS_PARTICIPANTE_GetAllActivesFilters" value="http://localhost:44390/api/CVN_TARIFARIO_SEGUS_PARTICIPANTE/GetAllActivesFilters" />
    
    <!--Categoria Pago-->
    <add key="WS_CVN_CATEGORIA_PAGO_GetAllActives" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO/GetAllActives" />
    <add key="WS_CVN_CATEGORIA_PAGO_GetAllFilters" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO/GetAllFilters" />
    <add key="WS_CVN_CATEGORIA_PAGO_Add" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO/Add" />
    <add key="WS_CVN_CATEGORIA_PAGO_Delete" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO/Delete" />
    <add key="WS_CVN_CATEGORIA_PAGO_GetById" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO/GetById" />
    <add key="WS_CVN_CATEGORIA_PAGO_Update" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO/Update" />


    <!--Detalle Segus Categoria Precio-->
    <add key="WS_CVN_CATEGORIA_PAGO_PRECIO_Add" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO_PRECIO/Add" />
    <add key="WS_CVN_CATEGORIA_PAGO_PRECIO_Delete" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO_PRECIO/Delete" />
    <add key="WS_CVN_CATEGORIA_PAGO_PRECIO_GetAllActivesFilters" value="http://localhost:44390/api/CVN_CATEGORIA_PAGO_PRECIO/GetAllActivesFilters" />

    <!--Contacto-->
    <add key="WS_CON_CONTACTO_Add" value="http://localhost:44390/api/CON_CONTACTO/Add" />
    <add key="WS_CON_CONTACTO_Delete" value="http://localhost:44390/api/CON_CONTACTO/Delete" />
    <add key="WS_CON_CONTACTO_GetAllFilters" value="http://localhost:44390/api/CON_CONTACTO/GetAllFilters" />
    <add key="WS_CON_CONTACTO_GetById" value="http://localhost:44390/api/CON_CONTACTO/GetById" />
    <add key="WS_CON_CONTACTO_GetAllActives" value="http://localhost:44390/api/CON_CONTACTO/GetAllActives" />
    <add key="WS_CON_CONTACTO_Update" value="http://localhost:44390/api/CON_CONTACTO/Update"/>
    
    <!--Plan de Seguro-->
    <add key="WS_CVN_PLAN_SEGURO_Add" value="http://localhost:44390/api/CVN_PLAN_SEGURO/Add" />
    <add key="WS_CVN_PLAN_SEGURO_Delete" value="http://localhost:44390/api/CVN_PLAN_SEGURO/Delete" />
    <add key="WS_CVN_PLAN_SEGURO_GetAllFilters" value="http://localhost:44390/api/CVN_PLAN_SEGURO/GetAllFilters" />
    <add key="WS_CVN_PLAN_SEGURO_GetById" value="http://localhost:44390/api/CVN_PLAN_SEGURO/GetById" />
    <add key="WS_CVN_PLAN_SEGURO_GetAllActives" value="http://localhost:44390/api/CVN_PLAN_SEGURO/GetAllActives" />
    
    <!--Producto Plan-->
    <add key="WS_CVN_PRODUCTO_PLAN_GetAllActivesFilters" value="http://localhost:44390/api/CVN_PRODUCTO_PLAN/GetAllActivesFilters" />
    <add key="WS_CVN_PRODUCTO_PLAN_GetAllActives" value="http://localhost:44390/api/CVN_PRODUCTO_PLAN/GetAllActives" />
    
    <!--Plan Seguro Detalle-->
    <add key="WS_CVN_PLAN_SEGURO_DETALLE_Add" value="http://localhost:44390/api/CVN_PLAN_SEGURO_DETALLE/Add" />
    <add key="WS_CVN_PLAN_SEGURO_DETALLE_Delete" value="http://localhost:44390/api/CVN_PLAN_SEGURO_DETALLE/Delete" />
    <add key="WS_CVN_PLAN_SEGURO_DETALLE_GetAllActivesFilters" value="http://localhost:44390/api/CVN_PLAN_SEGURO_DETALLE/GetAllActivesFilters" />

    <!--Moneda-->
    <add key="WS_CVN_MONEDA_GetAllActives" value="http://localhost:44390/api/CVN_MONEDA/GetAllActives" />
    <!--Beneficio-->
    <add key="WS_CVN_BENEFICIO_GetAllActives" value="http://localhost:44390/api/CVN_BENEFICIO/GetAllActives" />

    <!--WS TIPO_ESTADO-->
    <add key="WS_TipoContacto_GetAllActives" value="http://localhost:44390/api/CON_TIPO_CONTACTO/GetAllActives" />
    <!--Profesional-->
    <add key="WS_ADM_PROFESIONAL_GetAllActives" value="http://localhost:44390/api/ADM_PROFESIONAL/GetAllActives" />
    <add key="WS_ADM_PROFESIONAL_GetAllFilters" value="http://localhost:44390/api/ADM_PROFESIONAL/GetAllFilters" />
    <add key="WS_ADM_PROFESIONAL_Add" value="http://localhost:44390/api/ADM_PROFESIONAL/Add" />
    <add key="WS_ADM_PROFESIONAL_Delete" value="http://localhost:44390/api/ADM_PROFESIONAL/Delete" />
    <add key="WS_ADM_PROFESIONAL_GetById" value="http://localhost:44390/api/ADM_PROFESIONAL/GetById" />
    <add key="WS_ADM_PROFESIONAL_Update" value="http://localhost:44390/api/ADM_PROFESIONAL/Update" />
    <!--Genero-->
    <add key="WS_ADM_GENEROL_GetAllActives" value="http://localhost:44390/api/ADM_GENERO/GetAllActives" />
    <!--Documento Identidad-->
    <add key="WS_ADM_DOCUMENTO_IDENTIDAD_GetAllActives" value="http://localhost:44390/api/ADM_DOCUMENTO_IDENTIDAD/GetAllActives" />
    <!--Especialidad-->
    <add key="WS_ADM_ESPECIALIDAD_GetAllActives" value="http://localhost:44390/api/ADM_ESPECIALIDAD/GetAllActives" />
    <add key="WS_ADM_ESPECIALIDA_PROFESIONAL_GetById" value="http://localhost:44390/api/ADM_ESPECIALIDAD/GetEspecialidadProfesionalById"/>
    <!--Tipo Profesional-->
    <add key="WS_ADM_TIPO_PROFESIONAL_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_PROFESIONAL/GetAllActives" />
    <!--Condicion Profesional-->
    <add key="WS_ADM_CONDICION_PROFESIONAL_GetAllActives" value="http://localhost:44390/api/ADM_CONDICION_PROFESIONAL/GetAllActives" />
    <!--PACIENTE-->
    <add key="WS_ADM_PACIENTE_GetAllFilters" value="http://localhost:44390/api/ADM_PACIENTE/GetAllFilters" />
    <add key="WS_ADM_PACIENTE_Add" value="http://localhost:44390/api/ADM_PACIENTE/Add" />
    <add key="WS_ADM_PACIENTE_Delete" value="http://localhost:44390/api/ADM_PACIENTE/Delete" />
    <add key="WS_ADM_PACIENTE_GetById" value="http://localhost:44390/api/ADM_PACIENTE/GetById" />
    <add key="WS_ADM_PACIENTE_Update" value="http://localhost:44390/api/ADM_PACIENTE/Update" />
    <add key="WS_ADM_PACIENTE_GetByDni" value="http://localhost:44390/api/ADM_PACIENTECONSULTADNI/GetPacienteConsultaDNI" />

    <!--EstadoCivil-->
    <add key="WS_ADM_ESTADO_CIVIL_GetAllActives" value="http://localhost:44390/api/ADM_ESTADO_CIVIL/GetAllActives" />
    <!--GrupoSanguineo-->
    <add key="WS_ADM_GRUPO_SANGUINEO_GetAllActives" value="http://localhost:44390/api/ADM_GRUPO_SANGUINEO/GetAllActives" />
    <!--Ocupacion-->
    <add key="WS_ADM_OCUPACION_GetAllActives" value="http://localhost:44390/api/ADM_OCUPACION/GetAllActives" />
    <!--Ubigeo-->
    <add key="WS_ADM_UBIGEO_GetAllActives" value="http://localhost:44390/api/ADM_UBIGEO/GetAllActives" />
    <add key="WS_ADM_UBIGEO_GetAllFilters" value="http://localhost:44390/api/ADM_UBIGEO/GetAllFilters" />
    <!--Atenciones-->
    <add key="WS_ADM_ATENCION_GetAllPaciente" value="http://localhost:44390/api/ADM_ATENCION/GetAllPaciente" />
    <add key="WS_ADM_ATENCION_GetAllFilters" value="http://localhost:44390/api/ADM_ATENCION/GetAllFilters" />
    <add key="WS_ADM_ATENCION_GetAtencionAllFilters" value="http://localhost:44390/api/ADM_ATENCION/GetAtencionAllFilters" />
    <add key="WS_ADM_ATENCION_Add" value="http://localhost:44390/api/ADM_ATENCION/Add" />
    <add key="WS_ADM_ATENCION_GetById" value="http://localhost:44390/api/ADM_ATENCION/GetById"/>
    <add key="WS_ADM_ATENCION_Update" value="http://localhost:44390/api/ADM_ATENCION/Update"/>
    <add key="WS_ADM_ATENCION_Pending" value="http://localhost:44390/api/ADM_ATENCION/GetAtencionPendingAllFilters"/>


    <!--NumAutorizacion Siteds-->
    <add key="WS_ADM_DOCUMENTO_AUTORIZACION_GetAllFilters" value="http://localhost:44390/api/ADM_DOCUMENTO_AUTORIZACION/GetAllFilters"/>
    <add key="WS_ADM_DOCUMENTO_AUTORIZACION_GetAddAtencionAll" value="http://localhost:44390/api/ADM_DOCUMENTO_AUTORIZACION/GetAddAtencionAll"/>

    

    <add key="WS_ADM_TIPO_PACIENTE_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_PACIENTE/GetAllActives" />
    <add key="WS_ADM_TIPO_ATENCION_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_ATENCION/GetAllActives" />
    <add key="WS_ADM_CONSULTORIO_GetAllActives" value="http://localhost:44390/api/ADM_CONSULTORIO/GetAllActives" />
    <add key="WS_ADM_DOCUMENTO_PRESTACION_GetAllActives" value="http://localhost:44390/api/ADM_DOCUMENTO_PRESTACION/GetAllActives" />
    <add key="WS_ADM_TIPO_AFILIACION_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_FILIACION/GetAllActives" />
    <add key="WS_CVN_PRODUCTO_PLAN_GetAllActives" value="http://localhost:44390/api/CVN_PRODUCTO_PLAN/GetAllActives" />
    <add key="WS_ADM_TIPO_CIE10_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_CIE10/GetAllActives" />
    <add key="WS_ADM_CIE10_GetAllActives" value="http://localhost:44390/api/ADM_CIE10/GetAllActives" />
    <add key="WS_ADM_CIE10_GetAllFilters" value="http://localhost:44390/api/ADM_CIE10/GetAllFilters" />
    <add key="WS_ADM_TIPO_HOSPITALIZACION_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_HOSPITALIZACION/GetAllActives" />
    <add key="WS_ADM_HABITACION_GetAllActives" value="http://localhost:44390/api/ADM_HABITACION/GetAllActives" />
    <add key="WS_ADM_TIPO_EGRESO_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_EGRESO/GetAllActives" />
    <add key="WS_ADM_TIPO_AAFILIACION_GetAllActives" value="http://localhost:44390/api/ADM_TIPO_AFILIACION/GetAllActives" />
    <add key="WS_FAC_DOCUMENTO_PAGO_GetAllFilters" value="http://localhost:44390/api/FAC_DOCUMENTO_PAGO/GetAllDocumentoPagoFilters" />
    <add key="WS_ADM_FORMA_PAGO_GetAllFilters" value="http://localhost:44390/api/ADM_FORMA_PAGO/GetAllFormaPagoActives" />
    
    <add key="WS_FAC_COMPROBANTE_Add" value="http://localhost:44390/api/FAC_DOCUMENTO_PAGO/addComprobante" />



  </appSettings>

  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/logGestionClinica.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  
</configuration>